<!DOCTYPE html>
<html lang="es">
<!---Head-->
<%-include('./partials/head')%> 
<body class="products">
    <!--Header-->
    <%-include('./partials/header')%>
    
    <!--Main-->
    <main>
            <section>
                <% for( let j = 0; j < imagenes.length; j++ ) { %>
                    <article>
                        <a href="/products/detail/<%=imagenes[j].Producto.id%>"><img src="/img/products/<%= imagenes[j].nombre %>" alt=""></a>
                            <div class="description">
                                <div class="date">
                                    <h4>
                                        <%= imagenes[j].Producto.nombre %>
                                    </h4>
                                    <p>
                                        $<%= imagenes[j].Producto.precio %>
                                    </p>
                                </div>
                                <div class="date2">
                                    <a href="/products/editProduct/<%= imagenes[j].Producto.id %>"><button type="button" class="edit">Editar</button></a>
                                    <form action="/products/delete/<%= imagenes[j].Producto.id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="delete" onclick="EventoAlert()">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                    </article>
                    <% } %> 
                </section>  
    </main>
    
    <!--Footer-->
    <%- include('./partials/footer')%>
    
    
    

<!--Scripts-->
<%-include('./partials/scripts')%>     

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    
    function EventoAlert(){
        event.preventDefault();
        var form = event.target.form;
        Swal.fire({
            title: '¿Seguro que deseas eliminar el producto?',
            html: `<p class="rojo">¡No podrás revertir los cambios!</p>`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'ELIMINAR',
            cancelButtonText: 'CANCELAR',
            padding: '10px 15px 50px'
        }).then((result) => {
            if (result.isConfirmed){
                form.submit();
                Swal.fire(
                'ELIMINADO!',
                'El producto ha sido eliminado',
                'success',
                )
            }
        })
    }

</script>


</body>
</html>